DATABASE_URL=postgresql://username:password@host:5432/credishield
SECRET_KEY=your-super-secret-jwt-key-min-32-chars

# Email OTP config (use Gmail App Password)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email
SMTP_PASS=your_google_token_pass

# Tesseract OCR binary path (Windows)
TESSERACT_PATH=C:\Program Files\Tesseract-OCR\tesseract.exe
